/*
search page header
*/

.search header {
  display: flex;
  justify-content: space-between;
}

.search header a {
  text-decoration: none;
  color: black;
}

.search header a:hover {
  text-decoration: underline;
}

.search header ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.search header li {
  padding: 10px;
  font-size: 14px;
}

/*
search page main
*/

.search main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.search form {
  width: 100%;
  padding: 0 1.5rem;
  display: grid;
  place-items: center;
}

.search input {
  border: 0;
  height: 50px;
  padding: 14px 14px 14px 50px;
  max-width: 580px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  margin: 28px 0 16px;
  background: #ffffff url("/assets/search.svg") no-repeat 14px center;
  background-size: 20px 20px;
}

.search input:focus {
  outline: 0;
}
.search input:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search img {
  width: 100%;
  max-width: 272px;
}

.search button[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search button[type="submit"]:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
